####################
# Project Specific #
####################

virtual-environment
log


################
# OSX Specific #
################

.DS_Store


###################
# Python Specific #
###################

__pycache__
*.egg-info
dist
build
.pytest_cache
.coverage*
