####################
# Project Specific #
####################

virtual-environment
log


################
# OSX Specific #
################

.DS_Store


###################
# Python Specific #
###################

__pycache__
